<div #pdfContent>
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-size: cover; background-position: center top;">
    <!-- background-image: url(assets/img/theme/profile-cover.jpg);  -->
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <!--   <div class="container-fluid d-flex align-items-center">
        <div class="row" *ngIf="currentFicheDePaie.nomEntreprise">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">{{currentFicheDePaie.nomEntreprise}} </h1>
            <p class="text-white mt-0 mb-5">{{ currentFicheDePaie.nomEmploye }}</p>
            <a href="#!" class="btn btn-info">Edit profile</a>
          </div>
        </div>
      </div> -->
  </div>
  <!-- <div class="container-fluid mt--7"> -->
  <!-- <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0"> -->
  <!-- <div class="card card-profile shadow"> -->
  <!--    <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="{{apiURL1+'/image/loadfromFS/'+currentemploye.id}}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div> -->
  <!-- <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"> -->
  <!--  <div class="d-flex justify-content-between">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
              </div> -->
  <!-- </div> -->
  <!-- <div class="card-body pt-0 pt-md-4"> -->
  <!--    <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                     <div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Photos</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div> -->
  <!--   <div class="text-center">
                <h3>
                  {{currentemploye.nom}} {{currentemploye.prenom}}<span class="font-weight-light">, 27</span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{currentemploye.ville}}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{currentemploye.role.nomRole}}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
                <hr class="my-4" />
                 <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                <a href="javascript:void(0)">Show more</a>
              </div> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->
  <div class="col-xl-8 order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">My account</h3>
          </div>
          <div class="col-4 text-right">
            <button type="button" class="btn btn-sm btn-success " (click)="exportPDF()">Exporter en PDF</button>
            <a [routerLink]="['/consulterfichedepaie']" class="btn btn-sm btn-primary">Retour</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <h6 class="heading-small text-muted mb-4"> Informations</h6>

          <div class="pl-lg-4">
            <div class="row">

              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Id</label>
                  <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.id }}</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Nom Entreprise</label>
                  <span id="text" class="form-control form-control-alternative">{{ currentFicheDePaie.nomEntreprise
                    }}</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Adresse Entreprise</label>
                  <span id="text" class="form-control form-control-alternative">{{ currentFicheDePaie.adresseEntreprise
                    }}</span>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Téléphone Entreprise</label>
                  <span id="number" class="form-control form-control-alternative">{{
                    currentFicheDePaie.telephoneEntreprise }}</span>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Siret Entreprise</label>
                  <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.siretEntreprise
                    }}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Nom Employe</label>
                <span id="string" class="form-control form-control-alternative">{{
                  currentFicheDePaie.nomEmploye}}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Adresse Employé</label>
                <span id="string" class="form-control form-control-alternative">{{ currentFicheDePaie.adresseEmploye
                  }}</span>

              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Numéro Sécurité Sociale</label>
                <span id="number" class="form-control form-control-alternative">{{
                  currentFicheDePaie.numeroSecuriteSocialeEmploye }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Id Employé</label>
                <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.idEmploye
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Poste Employé</label>
                <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.posteEmploye
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Date Embauche Employé</label>
                <span id="date" class="form-control form-control-alternative">{{
                  currentFicheDePaie.dateEmbauche}}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Type Contrat</label>
                <span id="text" class="form-control form-control-alternative">{{ currentFicheDePaie.typeContrat
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Début Période de Paie</label>
                <span id="date" class="form-control form-control-alternative">{{ currentFicheDePaie.debutPeriodePaie
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Fin Période de Paie</label>
                <span id="date" class="form-control form-control-alternative">{{ currentFicheDePaie.finPeriodePaie
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Date Paiement</label>
                <span id="date" class="form-control form-control-alternative">{{ currentFicheDePaie.datePaiement
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Salaire de base </label>
                <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.salaireDeBase
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Heures supplémentairese</label>
                <span id="number" class="form-control form-control-alternative">{{
                  currentFicheDePaie.heuresSupplementaires }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Heures Supplémentaires payées</label>
                <span id="number" class="form-control form-control-alternative">{{
                  currentFicheDePaie.payeHeuresSupplementaires }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Primes</label>
                <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.primes }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Indemnites</label>
                <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.indemnites
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Cotisation Sécurité Sociale</label>
                <span id="number" class="form-control form-control-alternative">{{
                  currentFicheDePaie.cotisationsSecuriteSociale }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Cotisation Assurance Santé</label>
                <span id="number" class="form-control form-control-alternative">{{
                  currentFicheDePaie.cotisationsAssuranceSante }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Cotisation Retraite</label>
                <span id="number" class="form-control form-control-alternative">{{
                  currentFicheDePaie.cotisationsRetraite }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Impots Revenus</label>
                <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.impotsRevenus
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Autres Retenues</label>
                <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.autresRetenues
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Contribution Sécurité Sociale</label>
                <span id="number" class="form-control form-control-alternative">{{
                  currentFicheDePaie.contributionsSecuriteSocialeEmployeur }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Contribution Assurance Santé</label>
                <span id="number" class="form-control form-control-alternative">{{
                  currentFicheDePaie.contributionsAssuranceSanteEmployeur }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Contribution Retraite Employé</label>
                <span id="number" class="form-control form-control-alternative">{{
                  currentFicheDePaie.contributionsRetraiteEmployeur }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Salaire Net</label>
                <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.salaireNet
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Jours Congé Restants</label>
                <span id="number" class="form-control form-control-alternative">{{
                  currentFicheDePaie.joursCongesRestants }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Heure Travaillees</label>
                <span id="number" class="form-control form-control-alternative">{{ currentFicheDePaie.heuresTravaillees
                  }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Commentaires</label>
                <span id="text" class="form-control form-control-alternative">{{ currentFicheDePaie.commentaires
                  }}</span>
              </div>
            </div>








          </div>

          <!-- <hr class="my-4" /> -->
          <!-- Address -->
          <!-- <h6 class="heading-small text-muted mb-4">Contact information</h6> -->
          <!--   <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Adresse</label>
                        <span id="input-cin" class="form-control form-control-alternative">{{ currentemploye.adresse }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">City</label>
                        <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City"
                          value="New York">
                      </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Ville</label>
                      <span id="input-cin" class="form-control form-control-alternative">{{ currentemploye.ville }}</span>
                    </div>
                   </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Postal code</label>
                        <input type="number" id="input-postal-code" class="form-control form-control-alternative"
                          placeholder="Postal code">
                      </div>
                    </div>
                  </div>
                </div> -->



        </form>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</div>