<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Nombre Total</h5>
                  <span *ngIf="authService.isuser()==2 "class="h2 font-weight-bold mb-0">{{totalConges}}</span>
                  <span *ngIf="authService.isuser()==1 "class="h2 font-weight-bold mb-0">{{totalCongeUser}}</span>
                  <span *ngIf="authService.isuser()==3 "class="h2 font-weight-bold mb-0">{{totalConges}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fa fa-suitcase-rolling "></i>

                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Depuis La semaine derniére</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"> En Attente</h5>
                  <span *ngIf="authService.isuser() == 2" class="h2 font-weight-bold mb-0">{{ totalCongeEnAttente }}</span>
                  <span *ngIf="authService.isuser() == 1" class="h2 font-weight-bold mb-0">{{ totalCongeEnAttenteUser }}</span>
                  <span *ngIf="authService.isuser() == 3" class="h2 font-weight-bold mb-0">{{ totalCongeEnAttente }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.08%</span>
                <span class="text-nowrap">taux de congés en attente</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"> Acceptés</h5>
                  <span *ngIf="authService.isuser()==2 "class="h2 font-weight-bold mb-0">{{totalCongeAccepter}}</span>
                  <span *ngIf="authService.isuser()==1 "class="h2 font-weight-bold mb-0">{{totalCongeAccepterUser}}</span>
                  <span *ngIf="authService.isuser()==3 "class="h2 font-weight-bold mb-0">{{totalCongeAccepter}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 71.8%</span>
                <span class="text-nowrap">Taux d'acceptation</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"> Refusés</h5>
                  <span *ngIf="authService.isuser()==2 "class="h2 font-weight-bold mb-0">{{totalCongeRefuser}}</span>
                  <span *ngIf="authService.isuser()==1 "class="h2 font-weight-bold mb-0">{{totalCongeRefuserUser}}</span>
                  <span *ngIf="authService.isuser()==3 "class="h2 font-weight-bold mb-0">{{totalCongeRefuser}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 28.2%</span>
                <span class="text-nowrap">Taux de Refus</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

  <div class="container-fluid mt--7">
  
    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"> Congé:</h3>
              </div>
              <div class="col-4 text-right">
                <a  [routerLink]="['/consultercongé']" class="btn btn-sm btn-primary">Retour</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">Information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-8">

                    <div class="form-group">
                      <label class="form-control-label" >ID Congé</label>
                      <input  readonly type="text" [(ngModel)]="currentConge.id" name="id Role" class="form-control">
                    </div>

                    <div class="form-group">
                      <label class="form-control-label" >Durée Congé</label>
                      <input readonly type="number" [(ngModel)]="currentConge.duree" name="Durée du congé" class="form-control">
                    </div>

                    <div class="form-group">
                      <label class="form-control-label" >Etat de demande du Congé</label>
                      <input readonly type="text" [(ngModel)]="currentConge.etatdedemande" name="Etat de demande du congé" class="form-control">
                    </div>

                    <div class="form-group">
                      <label class="form-control-label" >Début du Congé</label>
                      <input readonly type="date" [(ngModel)]="currentConge.debutconge" name="Début du congé" class="form-control">
                    </div>

                    <div class="form-group">
                      <label class="form-control-label" >Fin du Congé</label>
                      <input readonly type="date" [(ngModel)]="currentConge.finConge" name="Fin du congé" class="form-control">
                    </div>

                    <div class="form-group">
                      <label class="form-control-label" >Type de Congé</label>
                      <input readonly type="text" [(ngModel)]=" currentConge.typedeConge.nomConge " name="Type de Congé" class="form-control">
                    </div>
                  </div>

                 
                  
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" >Description</label>
                      <textarea readonly [(ngModel)]="currentConge.descriptionconge"  class="form-control form-control-alternative" placeholder="Description du congé" rows="4"></textarea>
  
                    </div>
                  </div>
  
  
                 

                 <!-- <div class="col-lg-12">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="typedeCongeId">Type de Congé</label>
                      <div class="col-sm-9 d-flex align-items-center">
  
                        <span>{{ currentConge.typedeConge.nomConge }}</span>
  
  
                        <select class="form-control ml-2" id="typedeCongeId" name="typedeCongeId" [(ngModel)]="Newid" required>
                          <option *ngFor="let typedeConge of typedeConges" [value]="typedeConge.id">{{ typedeConge.nomConge }}</option>
                        </select>
                      </div>
                    </div>
                  </div> -->
  
  
  
  
  
  
  
                  <div class="col-lg-12 text-right"> <!-- Modification -->
                      <a *ngIf="authService.isuser()==3" class="btn btn-success" (click)="accepterConge(currentConge.id)">Accepter</a>
                      <a  *ngIf="authService.isuser()==3 "class="btn btn-danger" (click)="refuserConge(currentConge.id)">Refuser</a> 
                </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  