<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <!-- Vos cartes avec les statistiques -->

                <div class="col-xl-3 col-lg-6">
                  <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Nombre Total</h5>
                          <span *ngIf="authService.isuser()==2 "class="h2 font-weight-bold mb-0">{{totalDemandes}}</span>
                          <span *ngIf="authService.isuser()==1 "class="h2 font-weight-bold mb-0">{{totalDemandesUser}}</span>
                          <span *ngIf="authService.isuser()==3 "class="h2 font-weight-bold mb-0">{{totalDemandesUser}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fas fa-file-alt text-black"></i>
                          </div>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-6">
                  <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">En Attente</h5>
                          <span *ngIf="authService.isuser()==2 "class="h2 font-weight-bold mb-0">{{totalDemandesEnAttente}}</span>
                          <span *ngIf="authService.isuser()==1 "class="h2 font-weight-bold mb-0">{{totalDemandesEnAttenteUser}}</span>
                          <span *ngIf="authService.isuser()==3 "class="h2 font-weight-bold mb-0">{{totalDemandesEnAttenteUser}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
          </div>

        </div>
<div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Ajouter une Demande:</h3>
          </div>
          <div class="col-4 text-right">
            <a [routerLink]="['/consulterdemande']" class="btn btn-sm btn-primary">Retour</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form #demandeForm="ngForm" (ngSubmit)="adddemande()" novalidate>
          <h6 class="heading-small text-muted mb-4">Information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label">Titre Demande</label>
                  <input type="text" [(ngModel)]="NewDemande.titreDemande" name="titreDemande" class="form-control" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label">Description</label>
                  <textarea [(ngModel)]="NewDemande.descriptionDemande" name="descriptionDemande" class="form-control form-control-alternative" placeholder="Description de la Demande" rows="4" required></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label">Type Demande</label>
                  <select class="form-control form-control-lg" id="id" name="typeDemande" [(ngModel)]="Newid" required>
                    <option *ngFor="let typedemandeadministrative of typesdemandeadministrative" [value]="typedemandeadministrative.id">{{ typedemandeadministrative.nomDemande }}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-success" [disabled]="!demandeForm.valid">Ajouter</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


